<?xml version="1.0" encoding="utf-8"?>
<startupConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6702.0" initialized="True" dbType="SqlServer" sqlInstance="(local)" dbName="SFDefault2_201810301237" password="admin" siteUrl="http://localhost:11350/Sitefinity/" username="muddapurankita95@gmail.com" />