@model List<SitefinityWebApp.Mvc.Models.CustomBlogs> 

<h1> Welcome</h1>

@foreach(var item in Model)
{
    <h3>Title: </h3>    @item.Title

    <h3>Description: </h3>@item.Description

    <h3>Image: </h3> <img src="@item.Image" />
    
    
}