@model List<SitefinityWebApp.Mvc.Models.ImageSampleModel>

<h1> Hello world </h1>

@*@Html.BeginForm("Index", "ImageSampleModel", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
        <label>Id </label>
<input type="text" />

<label>Title </label>
<input type="text" />

<label>Description </label>
@Html.TextBox(m => m.Description)

<label>Image </label>
@Html.TextBox("file", "", new { type = "file" })

}*@